services:
  bills:
    image: ghcr.io/enucatl/bills:latest
    environment:
      - CSRF_TRUSTED_ORIGINS
      - DATABASE_URL
      - DJANGO_ALLOWED_HOSTS
      - DJANGO_SECRET_KEY
      - DJANGO_SETTINGS_MODULE=send_bills.project.settings.production
      - DJANGO_STATIC_ROOT=/vol/web/staticfiles
      - DJANGO_EMAIL_HOST
      - DJANGO_EMAIL_HOST_PORT
      - DJANGO_EMAIL_HOST_USER
      - DJANGO_EMAIL_HOST_PASSWORD
      - SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
    restart: unless-stopped
    labels:
      - "checkmk_monitor=true"
      - "traefik.enable=true"
      - "traefik.http.routers.bills.rule=Host(`bills.${DOCKER_DOMAIN}`)"
      - "traefik.http.routers.bills.entrypoints=https"
      - "traefik.http.routers.bills.tls=true"
      - "traefik.http.routers.bills.middlewares=authelia@docker,secured@file"
      - "traefik.http.services.bills.loadbalancer.server.port=8000"
    volumes:
      - /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro
    networks:
      - traefik_proxy

networks:
  traefik_proxy:
    external: true
